/* Utilities */
.w-10 {
  width: 10% !important;
}

.vertical-align-2 {
  vertical-align: 2px;
}

/* Layout */
.navbar {
  border-bottom: 2px solid #035259;
}

.navbar .navbar-title {
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: inherit;
}

.navbar .navbar-text {
  margin: 0;
}

.navbar-toggler {
  overflow: hidden;
  padding: 0;
  border: 0;
}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon .close {
  font-size: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background-image: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon .close {
  display: block;
  float: none;
}

.footer {
  border-top: 1px solid #e2e2e2;
  padding: 8px 0;
  text-align: center;
}

/* Components */
.list-group-icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  right: 8px;
  margin-top: -8px;
}

.btn-primary {
  background: #035259;
  border-color: #035259;
}

.tournament-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tournament-table {
  font-size: 12px;
}

.tournament-table td,
.tournament-table th {
  padding: .5rem;
}

.tournament-table th {
  width: 30%;
}

.league-table {
  font-size: 12px;
}

.league-table td,
.league-table th {
  padding: .5rem;
}

.league-table thead td,
.league-table thead th {
  border-bottom: 0;
}

.icon-mail {
  padding: 0 0 0 24px;
  background: url(../images/icon_mail.png) left center no-repeat;
  background-size: 16px;
}

.icon-link {
  padding: 0 0 0 24px;
  background: url(../images/icon_link.png) left center no-repeat;
  background-size: 16px;
}

.icon-arrow-right {
  padding: 0 0 0 24px;
  background: url(../images/icon_arrow_right.png) left center no-repeat;
  background-size: 16px;
}

.icon-pdf {
  padding: 0 0 0 24px;
  background: url(../images/icon_pdf.png) left center no-repeat;
  background-size: 16px;
}

.icon-date-range {
  padding: 0 0 0 24px;
  background: url(../images/icon_date_range.png) left center no-repeat;
  background-size: 16px;
}

.icon-open-in-new {
  padding: 0 0 0 24px;
  background: url(../images/icon_open_in_new.png) left center no-repeat;
  background-size: 16px;
}

.ekko-lightbox-nav-overlay a {
 color: #035259; 
}
