*{margin: 0px; padding: 0px;}

body {
margin:0px;
padding:0px;
text-align:center;
font-size:14px;
background-image: url("common/images/bg.gif");
}

hr{ margin:10px 0px; }

a:link { color:#2191B6; }
a:visited { color:#2191B6; }
a:active { color:#ff7f50; }
a:hover { color:#d2b48c; }

li { list-style: disk; }
li.none { list-style: none; }

h1{
margin: 0px 0px 10px;
padding: 0px 10px;
line-height:30px;
font-size: 18px;
font-weight: bold;
text-align: left;
color: #ffffff;
background-color: #004080;
}

h2{
margin: 10px 0px;
line-height:30px;
font-size: 16px;
font-weight: bold;
text-align: left;
color: #2b2b2b;
border-bottom: 2px solid #2b2b2b;
}

h3{
width: 100%;
line-height: 50px;
font-weight: bold;
text-align: center;
background-color: #dcdcdc;
}

h4{
width: 100%;
line-height: 30px;
font-weight: bold;
text-align: center;
font-size: 16px;
}

#mainbody {
width: 850px;
margin: 0 auto;
padding: 0px;
background: #ffffff;
text-align: center;
border-top: 5px solid #004080;
}

#header_left {
float: left;
width: 385px;
height: 30px;
margin:30px 20px;
background-image: url('common/images/title.gif');
background-repeat: no-repeat;
background-position: left top;
display: inline;
text-align: left;
}

#header_right {
float: left;
width: 385px;
height: 60px;
margin: 15px 20px;
display: inline;
line-height:20px;
text-align: right;
}

#navi {
clear: both;
margin: 0px auto 10px;
padding : 0px;
width: 830px;
overflow: hidden;
}
#navi li {
list-style: none;
width: 166px;
float: left;
}  
#navi li a{
text-decoration:none; 
display: block;
line-height:30px;
font-size: 16px;
font-weight: bold;
text-align: center;
color: #333333;
}
#navi li a:link, #navi li a:visited{
background-image: url('common/images/navi_a.gif');
}
#navi li a:active, #navi li a:hover{
background-image: url('common/images/navi_b.gif');
}


#pic{
width: 830px;
height: 165px;
clear: both;
margin: 0px auto 10px;
}
#pic img{
border-style: none;
}

#imakoko{
width:830px;
height: 20px;
margin: 5px auto 10px ;
text-align: left;
font-weight: bold;
border-bottom: 1px dashed;
}

#side {
float: left;
width: 220px;
margin:10px;
display: inline;
}
#side li{
list-style-type: none;
margin: 10px auto;
}
#side li.twitter{
display: none;
}
#side img{
border-style: none;
}

#side2{
float: left;
width: 216px;
margin:10px;
text-align: left;
display: inline;
border-color: #dcdcdc;
border-style: solid;
border-width: 2px;
}
#side2 dl{
margin: 10px;
line-height: 2;
}
#side2 dt{
margin: 0px;
font-weight: bold;
}
#side2 dd{
margin: 0px 0px 5px 30px;
}

#main { 
float: left;
width: 590px;
margin: 10px;
display: inline;
text-align: left;
}
#main dl{
clear: both;
margin: 0px 15px 20px;
line-height: 2;
}
#main dt{
margin: 0px;
font-weight: bold;
}
#main dd{
margin: 0px 0px 10px 30px;
}

#twitter_div {
border: 2px solid #ffa500;
margin: 0px 0px 15px 0px;
width: 570;
}
#twitter_div h2{
margin: 0px;
display: block;
line-height:40px;
padding: 0px 10px;
font-weight: bold;
color: #ffffff;
background-color: #ffa500;
border: 2px solid #ffa500;
}
#twitter_div li { }
#twitter_update_list {
line-height: 40px;
width: 540;
margin: 10px 10px 10px 40px;
color: #ff0000;
}

.minibox {
border-color: #dcdcdc;
border-style: solid;
border-width: 2px;
margin: 0px 0px 15px 0px;
width: 570;
}
.minibox h2{
margin: 0px;
display: block;
line-height:40px;
padding: 0px 10px;
font-weight: bold;
color: #191970;
border-color: #191970;
border-style: none none solid;
border-width: 2px;
background-image: url('common/images/bg_minibox.gif');
}
.mini_title{
margin: 0px;
display: block;
line-height:40px;
padding: 0px 10px;
font-weight: bold;
color: #191970;
border-color: #191970;
border-style: none none solid;
border-width: 2px;
background-image: url('common/images/bg_minibox.gif');
}
.minibox hr {
margin: 20px;
}

.mini_contents{
clear: both;
margin: 10px 20px;
line-height:25px;
}
.minibox li{
line-height: 25px;
width: 540;
margin: 10px 10px 10px 40px;
}

.ichiran{
line-height:25px;
margin: 0px 5px;
text-align: right;
list-style-type: none;
}

.minibox2 {
background-color: #ffff99;
margin: 0px 0px 15px 0px;
padding: 10px;
line-height: 20px;
}

.contact {
border: 2px solid #008000;
margin: 0px 0px 15px 0px;
width: 570;
}
.contact h2{
margin: 0px;
display: block;
line-height:40px;
padding: 0px 10px;
font-weight: bold;
color: #ffffff;
background-color: #008000;
border: 2px solid #008000;
}
.contact_title{
margin: 0px;
display: block;
line-height:40px;
padding: 0px 10px;
font-weight: bold;
color: #ffffff;
background-color: #008000;
border: 2px solid #008000;
}
.contact_main{
line-height: 40px;
width: 540;
margin: 10px 10px 10px 40px;
}
.contact_main img{ vertical-align: middle; }
.contact_main a{ font-size: 20px; }

#footer {
clear: both;
width: 850px; 
height: 20px; 
color: #808080;
background: #191970;
margin : 0px ;
padding : 0 ;
text-align: center;
}

.kome{
margin-left:1em;
text-indent: -1em;
}

table.t1{
margin: 0px 10px 20px;
width: 570px;
border-collapse: collapse;
}
.t1 th{
border: 1px solid #ffffff;
height: 30px;
padding-left:10px;
background-color: #c49a6a;
text-align: center;
}
.t1 td{
border: 1px solid #c49a6a;
line-height: 30px;
padding-left:10px;
background-color: #ffffff;
}

table.t2{
margin: 0px 0px 20px;
max-width: 540px;
border-collapse: collapse;
}
.t2 th{
border: 1px solid #ffffff;
height: 30px;
width:100px;
padding-left:10px;
background-color: #c49a6a;
}
.t2 td{
border: 1px solid #c49a6a;
height: 30px;
padding-left:10px;
background-color: #ffffff;
}

table.t3{
margin: 0px 5px 20px;
width: 525px;
border-collapse: collapse;
}
.t3 th{
border: 1px solid #ffffff;
height: 30px;
width:100px;
background-color: #c49a6a;
text-align: center;
}
.t3 td{
border: 1px solid #c49a6a;
height: 30px;
background-color: #ffffff;
text-align: center;
}

table.t4{
margin: 0px 10px 20px;
width: 525px;
border-collapse: collapse;
}
.t4 th{
border: 1px solid #ffffff;
height: 30px;
background-color: #c49a6a;
text-align: center;
}
.t4 td{
border: 1px solid #c49a6a;
height: 30px;
background-color: #ffffff;
text-align: center;
}

table.t5{
margin: 0px 10px 20px;
width: 550px;
border-collapse: collapse;
border: 1px solid #c49a6a;
font-size:12px;
}
td.team_1{
font-size:20px;
font-weight: bold;
height: 40px;
width: 330px;
}
td.team_2{
background-color: #ffe4b5;
width: 110px;
}
td.team_3{
text-align: right;
width: 110px;
}
td.team_4{
background-color: #c49a6a;
font-size:14px;
}
td.team_5{
border-left: 1px solid #c49a6a;
}
td.team_6{
background-color: #c49a6a;
}

table.t5_1{
line-height: 1.25em;
background-color: #ffe4b5;
font-size:14px;
margin: 5px;
width: 320px;
}
table.t5_2{
line-height: 1.5em;
background-color: #ffe4b5;
font-size:12px;
margin: 5px;
width: 210px;
}

table.t7{
margin: 0px 10px 20px;
width: 525px;
border: 0;
}
.t7 th{
height: 30px;
font-weight: bold;
}
.t7 td{
vertical-align: top;
text-align: center;
}

.update{
display: block;
float: left;
width:auto;
line-height: 35px;
margin: 10px 0px 0px 20px;
font-weight: bold;
color: #ff0000;
}
.iine{
display: block;
float: right;
width:auto;
text-align: right;
margin: 10px 5px 10px 0px;
}
dl.taikai dd{
margin: 0px 0px 10px 10px !important;
}

img#top_sanka{
top: 110px;
left: 610px;
}
